.app_dark_theme {
  --bg-color: #0f110c;
  --color: #e0e2db;
  --border-color: #585563;
  --text-color: #4b5358;
  --title-color: #f7f7f2;
  --interactable-color: #e88873;
  --bubble-bg: rgb(31, 31, 32);
}
